.conteudo{
    margin-top:60px;
}

.modal-body{
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: justify;
    font-weight: 700;
}

#sair{
    margin:3px;
    color:white;
}

#sair:hover{
    background-color:#d9534f;
    border-color:#000;

}
.topnav{
    font-size:18px;
}

.navbar-brand{
    font-size:30px;
}

.intro-header{
    background:url("../img/banner-background.jpg") fixed;
    background-size: cover;
}

a[href="trocar-senha.jsp"]{
    color:white;
}

.table>tbody>tr>th{
    padding:15px 6px;
    font-size: 18px;
}

.navegacao{
    font-size: 20px;

}

.navegacao>a>div{
    border:solid 1px;;
    padding:5px;

}



.navegacao>a>div.lv{
    border:solid 1px;;
    padding:30px;
    background-color: #000\9;
}

.navegacao>a{
    color:black;
}

.navegacao>a>div:hover{
    background-color: #c0c0c0;
    color:#080808;
}



a.disabled{
    pointer-events: none;

}

.infocalculo{
    margin-top: 250px;
}

.infocalculo1{
    margin-top:320px;
}


.nivel2{
    background-color:#f0ad4e;
}



.navegacao>a>div.active{
    background-color: #ce8483;
}

.navegacao>a>div.active:hover{
    background-color: #c0c0c0;
}

#parente{
    position:relative;
    z-index:9999999;}

#parente>div#filho1>div,#parente>div#filho2>div,#parente>div#filho3>div,#parente>div#filho4>div,#parente>div#filho5>div{
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    position:absolute;
    height:150px;
    font-size: 13px;
    z-index: 99999999;
    background-color:#f5f5f0;
}
#parente>div#filho1>div{

    top:0px;
    left:0px;

}
#parente>div#filho2>div{

    top:0px;
    left:292.5px;
}
#parente>div#filho3>div{

    top:0px;
    left:487.5px;
}
#parente>div#filho4>div{

    top:0px;
    left:682.5px;
}
#parente>div#filho5>div{

    top:0px;
    left:877.5px;
}



.form-control-feedback {
   
    z-index: 10;

}

.rowhighlight > td{ background: #EAD0D0;}
.rowhighlight > th{ background: #EAD0D0;}


.borderless {
    border : none;
}