.conteudo{
    margin-top:60px;
}

#sair{
    margin:3px;
    color:white;
}

#sair:hover{
    background-color:#d9534f;
    border-color:#000;

}
.topnav{
    font-size:18px;
}

.navbar-brand{
    font-size:30px;
}

.intro-header{
    background:url("../img/banner-background.png") fixed;
    background-size: cover;
}

a[href="trocar-senha.jsp"]{
    color:white;
}

.table>tbody>tr>th{
    padding:15px 6px;
    font-size: 18px;
}

.navegacao{
    font-size: 20px;

}

.navegacao>a>div{
    border:solid 1px;;
    padding:5px;

}

.navegacao>a{
    color:black;
}

.navegacao>a>div:hover{
    background-color: #c0c0c0;
    color:#080808;
}

.navegacao>a>div.active{
    background-color: #ce8483;
}

.navegacao>a>div.active:hover{
    background-color: #c0c0c0;
}

a.disabled{
    pointer-events: none;

}

#infocalculo{
    margin-top: 250px;
}

#infocalculo1{
    margin-top:320px;
}


.nivel2{
    background-color:#f0ad4e;
}